body,html,ul,li,a{
	margin:0;padding:0;border:0;
	list-style:none;
	text-decoration:none;
}
body,html{
	width:100%;height:100%;
	overflow:hidden;
}
*{box-sizing:border-box;}
.swiper-pagination-bullet {  /*改变其余轮播点样式*/
	width:10px;height:10px;
}
/*头部导航栏*/
    .header{
    	width:100%;height:60px;
    	background:#333231;cursor:pointer;
    	background:rgba(0,0,0,0.9);
    	position:fixed;left:0;top:0;z-index:99;
    }
    .header .big{
    	width:870px;height:100%;overflow:hidden;
    	margin:0 auto;
    }
    .header .big .logo{
    	width:220px;height:60px;
    	float:left;color:#FFCC00;
    	font-size:20px;font-weight:bold;line-height:60px;
    }
    .header .big .logo .smallLogo{
    	width:50px;height:50px;
    	float:left;
    	margin: 5px 10px;
    	overflow: hidden;
    	line-height:60px;border-radius: 50%;background: #fff;
    	background: url("../img/logo.png");
    	background-size: 50px 50px;
    }
    /*.header .big .logo .smallLogo img{
    	display: block;
    	height: 50px;
    	width: 50px;
    }*/
    .header .big ul li{
    	height:60px;
    	padding:0 22px;
    	line-height:60px;color:#fff;
    	font-size:16px;font-weight:bold;
    	float:left;
    }
    .header .big ul li:hover{
    	background:#FFCC00;
    	color:#000;
    }
    .header .big ul .active{
    	background:#FFCC00;
    	color:#000;
    }
    .big{display:none;}
    /*小屏头部*/
    .small{display:block;}
    .small .logo{
    	width:220px;height:60px;
    	float:left;color:#FFCC00;
    	font-size:20px;font-weight:bold;line-height:60px;
    	padding-left:10px;
    }
    .small .iconfont{
    	width:70px;height:100%;float:right;
    	font-size:32px;font-weight:bold;line-height:60px;
    	color:#FFCC00;
    }
    .small .icon-caidan{display:block;}
    .small .icon-quxiao{display:none;}
    .small ul{
    	width:400px;
    	overflow:hidden;
    	position:absolute;
    	left:0;top:60px;text-align: center;
    	display:none;
    }
    .small ul li{
    	width:100%;
    	height:90px;
    	background:rgba(0,0,0,0.9);
    	color:#fff;line-height:90px;
    	font-size:18px;font-weight:normal;
    }
    .small ul .active{
		border-left:4px solid #FFCC00;
		color:#FFCC00;
	}
/*swiper*/
    .swiper-container,.swiper-wrapper,.swiper-slide{
		width:100%;
		height:100%;
	}
 /*1.首页	*/
	.swiper-slide1{
		background:url("../img/bg6.jpg") no-repeat;
		background-size:100% 100%;
	}
	.swiper-slide1 p{
		color:#fff;
		font-size:30px;
		text-align:center;
		margin-top:20px;
	}
	.swiper-slide1 .zhu{
		color:springgreen;
		font-size:40px;
		margin-top:18%;
		font-weight:bold;
	}
	.swiper-slide1 .zhu span{
		color:greenyellow;
		font-weight:normal;
	}
 /*2.基本资料*/
	.swiper-slide2{
		background:url("../img/bg2.jpg") no-repeat;
		background-size:100% 100%;
		position:relative;
	}
	.swiper-slide2 .title{
		width: 400px;
		margin: 0 auto;
		text-align:center;
		position:absolute;
		top:100px;left:0;right:0;
		margin:auto;
		font-size:55px;
		color:#fff;
		display:none;
	}
	.swiper-slide2 .title .photo{
		float: left;
		height: 100px;
		width: 100px;
		border-radius: 50px;
		background: ;
		background:#0096c3 url("../img/photo.jpg") no-repeat;
		background-size: 80px 110px;
		background-position: center center;
	}
	.swiper-slide2 ul{
		width:80%;
		height:500px;
		position:absolute;
		left:0;right:0;
		top:50px;
		margin:auto;
	}
	.swiper-slide2 ul li{
		width:50%;
		height:50%;
		float:left;text-align:center;
	}
	.swiper-slide2 ul li img{
		width:171px;height:139px;
	}
	.swiper-slide2 ul li .wenzi{
		color:#fff;
		font-size:21px;text-align:center;
	}
	.swiper-slide2 ul li .wenzi p{
		font-size:16px;text-align:center;
		color:#fff;
	}
/*3.我的技能*/	
    .swiper-slide3{
    	background:#E4E4E4 url("../img/bg2.png");
		/*background-clip:con;*/
		position:relative;
		background-repeat:no-repeat;
    }  
    .swiper-slide3 .left{
    	width:80%;height:100%;
    	position:absolute;
    	left:0;right:0;top:100px;
    	margin:auto;
    	overflow:hidden;z-index:999;
    	display:none;
    }
    .swiper-slide3 .left div{
    	width:100%;height:auto;
    	padding:25px;
    }
    .swiper-slide3 .left div img{
    	width:50px;height:50px;
    	float:left;
    }
    .swiper-slide3 .left div .wenzi{
    	position:absolute;
    	left:65px;top:5px;
    	color:#1A1A1A;
    	font-size:25px;
    	font-weight:bold;
    }
    .swiper-slide3 .left div .wenzi span{
    	font-size:18px;
    	font-weight:normal;
    }
    .swiper-slide3 .left .yd{
    	position: absolute;
    	left:0px;top:200px;
    }
    .swiper-slide3 .left .more{
    	position: absolute;
    	left:0px;top:300px;
    }
    .swiper-slide3 .right{
    	width:50%;height:500px;
    	position:absolute;
    	left:0;right:0;
    	top:300px;
    	margin:auto;z-index:0;
    }
    .swiper-slide3 .right img{
    	width:365px;height:331px;
    	position:absolute;
    	right:0;top:0;
    }
    .swiper-slide3 .right .jquery{
    	font-size:30px;font-weight:bold;
    	position:absolute;
    	right:150px;top:20px;
    }
    .swiper-slide3 .right .nodejs{
    	font-size:28px;font-weight:bold;
    	position:absolute;
    	right:300px;top:30px;
    }
    .swiper-slide3 .right .canvas{
    	font-size:28px;font-weight:bold;
    	position:absolute;color:#5C5C5C;
    	right:350px;top:60px;
    }
    .swiper-slide3 .right .js{
    	font-size:25px;font-weight:bold;
    	position:absolute;color:#5C5C5C;
    	right:250px;top:140px;
    }
    .swiper-slide3 .right .Angular{
    	font-size:24px;font-weight:bold;
    	position:absolute;
    	right:250px;top:220px;
    }
    .swiper-slide3 .right .xys{
    	font-size:24px;font-weight:bold;
    	position:absolute;
    	right:180px;top:240px;
    }
    .swiper-slide3 .right .ydd{
    	font-size:20px;font-weight:bold;
    	position:absolute;
    	right:110px;top:210px;
    }
    .swiper-slide3 .right .php{
    	font-size:18px;font-weight:bold;
    	position:absolute;color:#5C5C5C;
    	right:100px;top:230px;
    }
    .swiper-slide3 .right .git{
    	font-size:23px;font-weight:bold;
    	position:absolute;
    	right:90px;top:180px;
    }
    .swiper-slide3 .right .phpcms{
    	font-size:25px;font-weight:bold;
    	position:absolute;color:#5C5C5C;
    	right:20px;top:200px;
    }
    .swiper-slide3 .right .mysql{
    	font-size:26px;font-weight:bold;
    	position:absolute;
    	right:30px;top:150px;
    }
	.swiper-slide3 .right .react{
		font-size:26px;font-weight:bold;
		position:absolute;
		right:250px;top:160px;
	}
/*4.我的生活*/    
    .swiper-slide4{
		background:url("../img/bg5.jpg") no-repeat;
		background-size:100% 100%;
	}
	.swiper-life{
		width:1200px;
		height:70%;
		overflow:hidden;
		margin:0 auto;
	}
	.life{
		width:100%;
		font-size:43px;
		margin-top:10%;
		text-align:center;
		color:blue;
	}
    .swiper-life .swiper-wrapper .swiper-slide {
		width:350px;
		height:300px;
		margin-top:80px;
	}
    .swiper-life .swiper-wrapper .swiper-slide img{
		width:100%;height:100%;
	}
/*5.项目作品*/  
    /*.swiper-slide1,.swiper-slide2,.swiper-slide3,.swiper-slide4{display:none;}*/
    .swiper-slide5{
    	background:url("../img/16.png");
		background-clip:100% 100%;
		position:relative;
    }
    .swiper-slide5 .logocontainer .row h1{
    	background:none;
    	padding-top:10px;
    	font-size:45px;
    	display:none;
    }
    .templatemo_mainimg{display:none;}
    .templatemo_mainimgaaa{
    	width:263px;height:305px;
    	background:#ccc url(../img/snake.png);
    	display:block;
    }
    .templatemo_mainimgbbb{
    	width:400px;height:467px;
    	display:block;
    }
    .templatemo_mainimgbbb img{
    	width:100%;height:100%;
    }
    .templatemo_col37 p{display:none;}
	/*游戏*/
    .services .row .templatemo_leftgap .titlee{
           font-size:25px;
	}
    .services .row .templatemo_leftgap .titlee2{
		margin-top: 48px;
		margin-left:60px;
	}
    .services .row .templatemo_leftgap .wz{
		font-size:14px;
		margin-left:13px;
	}
    /*动画/网页*/
     #con{
     	font-size:22px;
     	color:#000;
     }
     #conn{
     	font-size:18px;
     	color:#fff;
     	padding-left:28px;
      }
      #conn:hover{
     	text-decoration: underline;
     }
     .templatemo_leftgap{width:285px;height:482px;}
     .templatemo_portfoliotext{width:100%;height:317px;}
     .templatemo_leftgap .gallery-item{
     	 width:237px;height:150px;position:relative;
     }
     .templatemo_leftgap .gallery-item a{
     	display:block;width:100%;height:100%;
     }
     .templatemo_leftgap .gallery-item a img{
     	width:100%;height:100%;
     	transition:transform 1s ease;
     }
     .templatemo_leftgap .gallery-item .zhezhao{
     	width:100%;height:100%;
     	position:absolute;left:0;top:0;
     	background:rgba(255,255,255,0.3);
     	z-index:99;font-size:23px;line-height:150px;
     	color:#D3C294;text-align:center;
     	font-weight:bold;
     	display:none;
     }
     .gallery-item:hover .zhezhao{
     	display:block;
     }
     .gallery-item:hover img{
     	transform:scale(1.2,1.2);
     }
     .gallery-item .zhezhao a:hover{
     	color:#FF8C1C;
     }
/*6.联系我	 */
	.swiper-slide6{
		background:url("../img/bg6.jpg") no-repeat;
		background-size:100% 100%;
		position:relative;
	}
    .swiper-slide6 .about{
    	position: absolute;
    	left: 50%;
    	top: 50%;
		margin:-90px auto auto -300px;
		height: 180px;
		width: 600px;
		overflow:hidden;
	}
    .swiper-slide6 p{
		font-size:20px;
		color:#fff;font-weight:bold;
	}
    .swiper-slide6 .p1{
		font-size:28px;
	}
    .swiper-slide6 #lx1{
		width:100%;height:25%;
		background:red;
		z-index:999;
		position:absolute;
		top:60px;left:0;
		opacity:0.8;
	}
	.swiper-slide6 #lx2{
		width:100%;height:25%;
		background:blue;
		z-index:999;
		position:absolute;
		bottom:0;left:0;
		opacity:0.8;
	}
    .swiper-slide6 #lx1 ul{
		width:80%;height:80%;
		z-index:10000;position:absolute;
		bottom:10px;left:10%;
	}
	.swiper-slide6 #lx1 li{
		width:30%;height:100%;
		float:left;
		margin-left:10px;
		text-align:center;
		border:1px solid #000;
	}
	.swiper-slide6 #lx1 li p{
		color:#000;
		font-weight:normal;
		margin-top:6%;
	}
	.swiper-slide6 #lx1 li:hover{
		border:2px solid blue;
		background:pink;
	}
    .swiper-slide6 #lx1 li .pp{
		font-size:35px;
	}

    .swiper-slide6 #lx2 p{
		font-size:36px;
		color:#000;text-align:center;
		z-index:10000;position:absolute;
		top:20%;left:43%;font-weight:normal;
	}
    .swiper-slide6 #lx1 img,.swiper-slide6 #lx2 img{
		width:100%;height:100%;
	}
/*响应式*/	
	@media screen and (min-width:860px){
		/*头部导航栏*/
	 	.header .small{display:none;}
	 	.header .big{display:block;}
	 	/*基本资料*/
	 	.swiper-slide2 ul{
	 		height:255px;
	 		top:250px;
	 	}
	 	.swiper-slide2 ul li{
		   width:25%;
		}
		.swiper-slide2 .title{
			display:block;
		}
		.templatemo_col37 p{display:block;}
		/*我的技能*/
		.swiper-slide3 .left{
			display:block;
		}
		.swiper-slide3 .right{
			position:absolute;
			left:auto;right:0px;top:300px;
		}
		/*项目作品*/
		.swiper-slide5 .logocontainer .row h1{display:block;}
		.templatemo_mainimg{display:block;}
	}
	 
